* {
	margin:0;
}


/*
html, body {
	display: block;
	font-family: 'Whitney SSm A', 'Whitney SSm B', sans-serif;
	
	margin:0;
	text-align: center;
	width:100%;

	background-color: #FFF;
	color: #333;
}
*/
html, body, #container {
	font: 14px/24px "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 2;
	color: #222;

	background-color: #FFF;
	height:100%;
}


.header, .footer {
	background-color: #27AE60;
	color: #FEFEFE;
}

.header {
	height:2em;
}

.content{

	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: -2em auto -4em;
}

.footer, .push{
	height:4em;
}
