html {
box-sizing: border-box;
display: block;
font-family: 'Whitney SSm A', 'Whitney SSm B', sans-serif;

background-color: #FFF;
color: #333;
margin:0;
text-align: center;
width:100%;
}


#container #header {
	background-color: #27AE60;
	font-size: 14px;
	height: 50px;
	color:#fff;
}

#content{
font-size: 14px;
color:#000;
}

#footer{
background-color: #27AE60;
height:50px;
color:#fff;
font-size: 14px;
}
